* {
  margin: 0;
  padding: 0;
}
.section1 {
  width: 100vw;
  height: 47.08vw;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.article1 {
  width: 56.67%;
  height: 14.26%;
  border: 1px solid red;
}
.title p{
  font-size: 1.04vw;
  font-weight: 700;
  color: #1E1E1C;
  line-height: 1.7;
}
.article2 {
  width: 56.67%;
  height: 62.17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentbox {
  width: 100%;
  height: 33.33%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: space-between;
  align-items: center;
  border-top: 0.1vw solid #D4d4d4;
}
.content {
  width: 92.92%;
  height: 50.53%;
  /* padding: 2.45vw; */
  display: flex;
  align-items: center;
  border: 1px soli #1E1E1C;
}
.content img {
  width: 10.78%;
  height: 100%;
  margin-right: 4vw;
}
.nametxt {
  width: 9.89%;
  font-size: 1.82vw;
  font-weight: 700;
  color: #8F63DA;
  margin-right: 3.51vw;
}
.contenttxt {
  font-size: 0.78vw;
  font-weight: 700;
}
